.page-wrapper {
    height: 100vh;
  }
  .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left 0.3s ease;
  }
  @media screen and (min-width: 768px) {
    .page-wrapper .page-content {
      padding-left: 300px;
    }
  }
  .page-wrapper .page-content .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #000;
    opacity: 0.5;
    display: none;
  }
  @media screen and (max-width: 768px) {
    .page-wrapper .page-content .overlay.show {
      display: block;
    }
  }
  .page-wrapper .sidebar {
    left: 0px;
  }
  .page-wrapper.toggled .page-content {
    padding-left: 0;
  }
  .page-wrapper .attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
  